.TelaCadastro h1 {
    margin-left: -53.92332268370607vw;
    margin-top: 6.4446831364124595vh;
}

.TelaCadastro img {
    margin-left: 17.540681576144834vw;
}

.TelaCadastro p {
    margin-left: 11.584664536741213vw;
    margin-top: 4.296455424274973vh;
    margin-bottom: 2.1482277121374866vh;
}

.formscad {
    margin-left: 10.649627263045794vw;
}

.btnCadastrar {
    margin-left: 10.584664536741213vw;
    margin-top: 2.1482277121374866vh;
}

.ImagemDivisao img {
    margin-left: 48.260915867944625vw;
    margin-top: -73.03974221267454vh;
}

.ImagemCadastro img {
    margin-left: 55.91054313099041vw;
    margin-top: -64.44683136412459vh;
    bottom: 7.518796992481203vh;
}

.ImagemCadastro {
    margin-top: -8.592910848549947vh;
}