.TelaCadastro h1 {
    margin-left: -51.92332268370607vw;
    margin-top: 6.4446831364124595vh;
}

.TelaCadastro img {
    margin-left: 18.240681576144834vw;
}

.TelaCadastro p {
    margin-left: 11.584664536741213vw;
    margin-top: 4.296455424274973vh;
    margin-bottom: 2.1482277121374866vh;
}

.formscad {
    margin-left: 200px;
}

.btnCadastrar {
    margin-left: 11.584664536741213vw;
    margin-top: 2.1482277121374866vh;
}

.Divisor {
    margin-left: 5.324813631522897vw;
    margin-top: 3.2223415682062297vh;
}

.ImagemCadastro img {
    margin-left: 1030px;
    margin-top: -1000px;
}