.TelaCadastro h1 {
    margin-left: -51.92332268370607vw;
    margin-top: 6.4446831364124595vh;
}

.TelaCadastro img {
    margin-left: 18.240681576144834vw;
}

.TelaCadastro p {
    margin-left: 10.584664536741213vw;
    margin-top: 4.296455424274973vh;
    margin-bottom: 2.1482277121374866vh;
}

.btnCadastrar {
    margin-left: 10.584664536741213vw;
    margin-top: 2.1482277121374866vh;
}