.Divisor img {
    margin-left: 88.07733619763695vh;
    margin-top: -107.41138560687433vh;
}

.ImagemLogin img {
    margin-top: 10.741138560687434vh;
    margin-left: 5.324813631522897vw;
}

.TelaLogin {
    margin-top: -75.18796992481202vh;
    margin-left: 46.85835995740149vw;
}

.TelaLogin h1 {
    margin-right: 3.7273695420660276vw;
}

.forms label {
    margin-left: 10.649627263045794vw;
}

.forms input {
    margin-left: 10.649627263045794vw;
}

.esqueciSenha {
    margin-left: 10.649627263045794vw;
}

.btnEntrar {
    margin-left: 10.649627263045794vw;
}

.DivisorLogin {
    margin-bottom: -7.518796992481203vh;
    margin-left: -21.23429179978701vw;
}

.CriarConta {
    margin-top: 10.741138560687434vh;
    margin-left: 17.175718849840255vw;
}