.UnectIcone {
    margin-top: -9.66702470461869vh;
    margin-left: 10.649627263045794vw;
}

.dashboard h1 {
    color: #FAFAFA;
    font-size: 36px;
    margin-top: -6.229860365198711vh;
    margin-left: 43.663471778487754vw;
}