.banner-superior {
    background: var(--banner-color);
    padding: 4.81vh 300px;
}

.tema {
    margin-left: 63.89776357827476vw;
}

@media screen and (max-width: 768px) {
    .banner-superior {
        padding: 3.2223415682062297vh 1.0649627263045793vw;
    }

    .tema {
        margin-left: 75.97444089456869vw;
    }

}