* {
    font-family: 'Poppins', sans-serif;
}

.TelaCadastro h1 {
    text-align: center;
    color: #226ED8;
    font-size: 48px;
}

.TelaCadastro p {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 200px;
}

.formscad {
    margin-bottom: 20px;
}

.formscad label {
    display: block;
    margin-bottom: 0.5370569280343717vh;
    font-weight: 400;
    color: var(--text-color);
}

.formscad input {
    width: 27%;
    padding: 10px;
    border: 1px solid #002D6C;
    background-color: #EEF5FF;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.formscad input.input-error {
    border: 2px solid #820000 !important;
    background-color: #FFE6E6 !important;
}

.btnCadastrar {
    width: 24%;
    padding: 12px;
    background: #226ED8;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

.btnCadastrar:hover {
    background: #114FA7;
}

.TelaCadastro img {
    width: 200px;
}

.error-message {
    color: #820000;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

.text-danger {
    color: #ff4444;
    margin-bottom: 15px;
}

.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.toggle-password-visibility {
    position: absolute;
    right: 1240px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    z-index: 10;
}