* {
    font-family: 'Poppins', sans-serif;
}

.TelaLogin h1 {
    text-align: center;
    color: #226ED8;
    margin-bottom: 3.2223415682062297vh;
    font-size: 48px;
}

.forms {
    margin-bottom: 2.1482277121374866vh;
}

.forms label {
    display: block;
    margin-bottom: 0.5370569280343717vh;
    color: var(--text-color);
}

.forms input {
    width: 55%;
    padding: 15px;
    border: 1px solid #002D6C;
    background-color: #EEF5FF;
    border-radius: 0.8592910848549946vh;
    font-size: 16px;
}

.forms input.input-error {
    border: 2px solid #820000 !important;
    background-color: #FFE6E6 !important;
}

.esqueciSenha {
    display: block;
    margin-top: 8px;
    color: #226ED8;
    font-size: 14px;
}

.btnEntrar {
    width: 55%;
    padding: 16px;
    background: #226ED8;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.btnEntrar:hover {
    background: #114FA7;
}

.DivisorLogin {
    height: 100%;
    width: 13.312034078807242vw;
    position: relative;
}

.CriarConta {
    display: block;
    color: var(--text-color);
    font-size: 18px;
    position: relative;
}

.error-messageLogin {
    color: #820000;
    font-size: 14px;
    margin-top: 0.5370569280343717vh;
    margin-left: 10.744408945686901vw;
    display: block;
}

.password-input-wrapper-login {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.toggle-password-visibility-login {
    position: absolute;
    right: 270px;
    top: 53%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .TelaLogin h1 {
        margin-top: 85.92910848549947vh;
        margin-left: -40.649627263045794vw;
        font-size: 58px;
    }

    .forms {
        margin-left: -50.247071352502662vw;
    }

    .forms label {
        font-size: 18px;
    }

    .forms input {
        width: 85%;
        padding: 10px;
    }

    .esqueciSenha {
        margin-top: 10px;
    }

    .toggle-password-visibility-login {
        margin-right: -220px;
    }

    .btnEntrar {
        top: 2.1482277121374866vh;
        left: -51.980830670926517vw;
        width: 170%;
    }

    .DivisorLogin {
        width: 45.649627263045794vw;
        bottom: 3.7593984962406015vh;
        left: 0.5324813631522897vw;
    }

    .CriarConta {
        margin-right: -45.649627263045794vw;
        right: 50.714589989350372vw;
    }

}