.AdviceBox {
    background-color: var(--cardTask-color);
    border-radius: 18px;
    padding: 20px;
    margin-top: 80px;
    margin-left: 310px;
    margin-bottom: -200px;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.AdviceHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fundoIcone {
    background-color: var(--iconBackground1-color);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.iconeWrapper {
    background-color: var(--iconBackground2-color);
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.iconeLampada {
    width: 30px;
    height: 30px;
    color: var(--icon-color);
}

.HeaderText {
    font-weight: 700;
    font-size: 16px;
    color: var(--text-color);
    margin-top: -20px;
}

.frase {
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    margin-left: 70px;
    margin-top: -35px;
}

.carregandoTexto {
    color: var(--text-color);
    font-style: italic;
}