.UnectIcone {
    position: relative;
}

.UnectIcone img {
    width: 1.7571884984025559vw;
    height: 5.370569280343717vh;
}

@media screen and (max-width: 768px) {
    .UnectIcone img {
        width: 6.703940362087327vw;
        height: 4.940923737916219vh;
        margin-left: -6.3312034078807242vw;
        margin-top: 1.6111707841031149vh;
    }
}