.kanban-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 270px 0 50px 0;
}

.kanban-header-row {
    display: flex;
    justify-content: space-between;
    width: 1260px;
    margin: 5px 0 10px 0;
    height: 30px;
}

.column-title-container {
    width: 400px;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);
    padding: 0 5px;
}

.add-task-center {
    position: relative;
    right: 55px;
    bottom: 10px;
}

.add-task-button {
    position: static;
    transform: none;
    font-size: 2.2em;
    background: none;
    border: none;
    color: #3f51b5;
    cursor: pointer;
    line-height: 0.5;
}

.kanban-columns-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1260px;
    gap: 30px;
}

.kanban-column {
    width: 400px;
    background-color: var(--colunaKanban-color);
    border-radius: 8px;
    padding: 10px;
    box-shadow: none;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.task-card {
    position: relative;
    z-index: 1;
    background-color: var(--cardTask-color);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: none;
    display: flex;
    flex-direction: column;
}

.task-header-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0px;
    padding-right: 40px;
    margin-bottom: 0px;
}

.task-title {
    font-weight: 600;
    font-size: 1em;
}

.menu-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 15;
    font-size: 1.2em;
    color: var(--text-color);
    cursor: pointer;
    padding: 5px;
    margin: -5px;
}

.menu-icon:hover {
    color: #226ED8;
}

.menu-option {
    background: none;
    border: none;
    padding: 8px 12px;
    text-align: left;
    cursor: pointer;
    font-size: 0.9em;
    width: 100%;
}

.menu-option:hover {
    background-color: #f0f0f0;
}

.floating-delete-button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 45px;
    right: 0px;
    background-color: var(--deleteButton-color);
    border: 1px solid var(--deleteButton-color);
    color: #DF0000;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.delete-svg-icon {
    margin-right: 5px;
    vertical-align: middle;
}

.description-action-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.description-toggle {
    color: var(--text-color);
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    margin-top: 15px;
    font-size: 0.9em;
    width: fit-content;
}

.task-description {
    padding: 10px 0;
    margin: 5px 0 10px 0;
    font-size: 0.9em;
    color: var(--text-color);
    white-space: pre-wrap;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.action-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.next-icon {
    background-color: #226ED8;
    color: white;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.prev-icon {
    background-color: white;
    color: #3f51b5;
    border: 1px solid #226ED8;
    margin-right: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.undo-icon {
    background-color: white;
    color: #3f51b5;
    border: 1px solid #226ED8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.add-task-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.add-task-form {
    background: var(--cardTask-color);
    padding: 40px 60px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modal-title {
    color: #3867D6;
    font-size: 1.5em;
    font-weight: 600;
    flex-grow: 1;
    text-align: center;
    margin-left: 40px;
}

.modal-divider {
    background-color: #3867D6;
    height: 8px;
    width: 30%;
    min-width: 100px;
    margin: -20px auto 15px auto;
    border-radius: 8px;
}

.close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.add-task-form input,
.add-task-form textarea {
    padding: 15px;
    border: 1px solid var(--colunaKanban-color);
    background-color: var(--colunaKanban-color);
    border-radius: 8px;
    font-size: 1.1em;
    width: 100%;
    box-sizing: border-box;
}

.input-label {
    font-weight: 600;
    font-size: 1em;
    color: var(--text-color);
    margin-top: 10px;
}

.form-actions-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.create-task-button {
    background-color: #458EF4;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.create-task-button:disabled {
    background-color: #a0c4ff;
    cursor: not-allowed;
    box-shadow: none;
}

.description-toggle {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.icons svg {
    color: var(--text-color);
    border: 1px red solid;
}