@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+QLD+Hand:wght@400..700&family=Montserrat:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Poppins', sans-serif;
  --background-color: #FFFFFF;
  --banner-color: #226ED8;
  --text-color: #00122A;
  --footer-color: #114FA7;
  --colunaKanban-color: #f0f0f0;
  --cardTask-color: #FFFFFF;
  --deleteButton-color: #FFFFFF;
}

[data-theme="dark"] {
  --background-color: #222222;
  --banner-color: #333333;
  --text-color: #FAFAFA;
  --footer-color: #111111;
  --colunaKanban-color: #333333;
  --cardTask-color: #3D3D3D;
  --deleteButton-color: #535353;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}